.gradient-rainy-ashville {
  background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.gradient-sunny-morning {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.gradient-frozen-dreams {
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.gradent-winter-nerva {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.gradient-dusty-grass {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.gradient-azure {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.gradient-mixed-hopes {
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}

.gradient-teen-notebook {
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

.gradient-risky-concrete {
  background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.gradient-racoon-back {
  background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
  background-blend-mode: screen;
}

.gradient-polite-rumors {
  background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
}

.gradient-night-fade {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.gradient-new-life {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.card {
  min-width: 300px;
  height: 280px;
  border-top-left-radius: 10px!important;
  border-top-right-radius: 10px!important;
  border: none !important;
  box-shadow: inset 0 4px 7px 1px #fff,
  inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14),
  0 10px 20px rgba(0, 21, 64, 0.05);
}

.card:hover {
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 0 20px rgba(0, 21, 64, 0.14), 0 0px 40px rgba(0, 0, 0, 0.2)
}

.card-top-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 180px;
  width: 100%;
  display: block;
}

.card-img-caption {
  position: relative;
  top: 5px;
  left: 0;
  width: 100%;
  line-height: 1.2;
  margin-top: 7px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.card-img-caption-secondary {
  fond-size: 12px;
  margin-top: 10px;
  font-weight: 200;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.inner-layer {
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
  height: 200px;
  width: 100%;
  left: 0;
  top: 0;
}

.card-btn {
  width: 100%;
  background-color:  #f5f4f9;
  color: #000;
  border: none;
  letter-spacing: .6px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  border-radius: 100px;
  margin: 0 14px;
  font-size: 14px;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none !important;
}

.card-btn:hover {
  color: white;
  background-color: #247EFF;
  cursor: pointer;
}

.card-body {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.margin-5 {
  padding-left: 5px!important;
  padding-right: 5px!important;
  margin-top: 5px;
}

.intro-title {
  font-weight: 700;
  font-size: 24px;
  margin-left: 5px;
}

.intro-row {
  margin-top: 15px;
  margin-bottom: 15px;
}
